body {
    margin: 0;
    padding: 0;
    background-color: blue;
    color: white;
}

.box-1 {
    display: flex;
    width: 120px;
    height: 64px;
    background-color:black;
    color:green;
    justify-content: left;
    align-items: flex-start;
    border : 1px solid white
}

.container{
    display: flex;
    flex-direction: row;
}